{% extends 'app/app.html' %}
{% load static %}
{% block title %}
    <title>Naurs - About</title>
{% endblock title %}
{% block app %}
    <main id="main">
        <!-- ======= breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center text-white">
                    <h2>About</h2>
                    <ol>
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li>About</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- ======= about section ======= -->
        <section id="about-us" class="about-us">
            <div class="container" data-aos="fade-up">
                <div class="row content justify-content-center">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-12" data-aos="fade-down">
                                <h2 class="text-center">Who We Are</h2>
                                <p>
                                    I am Natarajan Pandian, I have 20+ year experience in Music and Media Industry as System
                                    Sound Engineer. I started my career at Arabian Radio Network (ARN) from 2001 to 2008 and
                                    from the past 10+ year I am with Dubai Media INC (DMI) Dubai Government as Broadcast
                                    Sound Engineer. Also I’m a Brown Belt in Budokan Karate and have participated Jr National
                                    Body Building India 1998-1999. Basically I have a vast knowledge of Music and Fitness
                                    Industries.
                                </p>
                                <p>
                                    Music and Technology is not only my profession but also my passion and I want to implement
                                    it as a business in Bay Avenue as a Music and Fitness Center.
                                    Bay Avenue – Executive Tower has everything to offer except a Music, dance, art and a
                                    Fitness form studio which stand Unique to any other classes around the radius. We as a
                                    family are into construction material and Trading business since 30+ year in Oman and in
                                    UAE. We are very confident that this would be a successful business and attract those
                                    audiences who wants to fulfill their passion as a vocalist, guitarist, Prenatal postnatal yoga,
                                    Gravity (swing Yoga) classical dance form and Basic Gymnastic for kids.
                                </p>
                                <p>
                                    Now you may ask why Bay Avenue; It’s a big responsibility for one or parents to drive and
                                    find parking and attend class especially its impossible for working parents to drop their kids in
                                    a class wait and pick them back considering social distancing whereas the kids and grownups
                                    can walk in the Bay Avenue Mall. (Our target audience are residence of Executive Towers.
                                    We are planning to implement High tech acoustic studios on F42 & F43 and 11.1.2 Dolby
                                    Digital on the unit F44 (yoga, theater, dance practice
                                </p>
                                <p>
                                    We will also be offering free classes to 65+ aged people such as dancing, basic yoga and
                                    meditation and other class subject to availability. We believe this will bring happiness, relieve
                                    physical and mental stress. Our Target audience are all age groups as we want to build a
                                    positive vibe an “Aura”.
                                    Our target customers will be all nationality considering that we will be appointing Qualified
                                    Teachers and Trainers.
                                </p>
                            </div>
                            <div class="col-12" data-aos="fade-right">
                                <h2 class="text-center">Mission</h2>
                                <p>
                                    Naurs will be providing Unique classes which is not offered anywhere in the closest
                                    radius around 1 km.
                                </p>
                            </div>
                            <div class="col-12" data-aos="fade-left">
                                <h2 class="text-center">Vision</h2>
                                <p>
                                    Our Instructors are State and National level champions who are certified and
                                    qualified to train and we will provide a standard low priced fees that suits everyone
                                    lifestyle.
                                </p>
                            </div>
                            <div class="col-12" data-aos="fade-up">
                                <h2 class="text-center">Values</h2>
                                <p>
                                    Like any other Business person we are also here to make some profit but also we want
                                    to stand Unique in Dubai by providing free classes to senior citizens.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= our team section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>
                        <strong>Our Team & Instructors</strong>
                    </h2>
                    <p class="section-subtitle">
                    </p>
                    Meet the Naurs core team members and instructors.
                </p>
            </div>
            <div class="row">
                {% if last_4_instructors %}
                    {% for instructor in last_4_instructors %}
                        <a href="{% url 'instructor_detail_page' pk=instructor.id %}">
                            <div class="col-lg-3 col-md-6 align-items-stretch">
                                <div class="member">
                                    <img class="member-img"src="{{ instructor.avatar.url }}"
                                         class="img-fluid"
                                         alt="staff">
                                    <div class="member-info">
                                        <h4>{{ instructor.user.get_full_name }}</h4>
                                        <span>{{ instructor.role }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="col-12 text-center animate__animated animate__fadeInDown"
                         data-aos="fade-down">
                        <i class="display-1 bi bi-trash align-middle"></i>
                        <p>
                            No instructor currently available!
                        </p>
                    </div>
                {% endif %}
                <div class="col-12 text-center mt-5">
                    <a class="btn-lg" href="{% url 'instructor_page' %}">Meet More</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock app %}
