{% extends 'app/app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block seo_title %}
<title>Naurs - Forgot Password</title>
<meta property="og:title" content="Naurs - Forgot Password" />
{% endblock seo_title %}

{% block app %}
<main id="main form-signin">
    <!-- ======= breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center text-white">
                <h2>Forgot Password</h2>
                <ol>
                    <li>
                        <a href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="text-white">Forgot Password</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- ======= forgot password section ======= -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <form action="" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-floating shadow mb-4">
                            {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <p>Have an account? sign in <a class="text-cus-orange" href="{% url 'login_page' %}">here</a>
                        </p>
                        <button class="w-50 btn-lg" type="submit">Forgot Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock app %}