{% extends 'app/app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block seo_title %}
<title>Naurs - Change Password</title>
<meta property="og:title" content="Naurs - Change Password" />
{% endblock seo_title %}

{% block app %}
<main id="main form-signin">
    <!-- ======= breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center text-white">
                <h2>Change password</h2>
                <ol>
                    <li>
                        <a href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="text-white">Change Password</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- ======= change password section ======= -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                {% if validlink %}
                <div class="col-md-5">
                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form-floating shadow mb-4">
                            {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <button class="w-50 btn-lg" type="submit">Reset</button>
                    </form>
                </div>
                {% else %}
                <div class="col-md-5 shadow p-3">
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock app %}