{% extends 'app/student_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
    <title>Naurs - Payment Success</title>
{% endblock title %}
{%block dashboard %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h1>Payment Success</h1>
                    <p>
                        Payment successful, we received your order and you can fine your invoice at the <a href="{% url 'finance_page' %}" class="text-decoration-none">finance</a> 
                        section of you dashboard.
                    </p>
                    <a type="button" href="{% url 'finance_page' %}" class="btn-close"></a>
                </div>
            </div>
        </div>
    </main>
{% endblock dashboard %}
