{% extends 'app/app.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}<title>Dashboard - Offer creation</title>{% endblock title %}

{% block app %}
    <main id="main form-signin"> 
        <!-- ======= offer creation section ======= -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <form action="{% url 'offer_create_page' %}" method="post">
                            {% csrf_token %}

                            <div class="shadow mb-4" style="margin-top:500px;">
                                {{ offer_form.media }}
                            </div>

                            {% for field in offer_form %}
                                {% comment %} {% if field.field.widget.TinyMCEWidget %}
                                    <div class="shadow mb-4">
                                        {{ field.media }}
                                    </div>
                                {% else %}
                                    <div class="form-floating shadow mb-4">
                                        {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %} {% endcomment %}
                                
                            {% endfor %}

                            <button class="w-50 btn-lg" type="submit">Create Offer</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock app %}