{% extends 'dashboard/dashboard.html' %} 
{% load static %} 
{% load humanize %}
{% load widget_tweaks %} 
{% block title %}<title>Naurs - Dashboard Free Trial</title>{% endblock title %} 

{% block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
  <!-- title -->
  <div class="row">
    <div class="col-12">
      <h4>All Free Trial</h4>
    </div>
  </div>

  <!-- free trial -->
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive shadow rounded">
        <table class="table table-hover table-sm align-middle border-bottom m-0">
          <thead class="table-cus-dark">
            <tr>
              <th scope="col" class="p-3"></th>
              <th scope="col" class="p-3">Name</th>
              <th scope="col" class="p-3">Email</th>
              <th scope="col" class="p-3">Phone Number</th>
              <th scope="col" class="p-3">Active</th>
              <th scope="col" class="p-3">Created On</th>
            </tr>
          </thead>
          <tbody>
            {% if without_filter_free_trial %} {% for free_trial in without_filter_free_trial %}
                <tr>
                    <th scope="row" class="p-2">
                        <div class="avatar">
                            <i class="bi bi-person-badge-fill align-middle"></i>
                        </div>
                    </th>
                <td class="p-2">
                    {{free_trial.name|truncatechars:20}}
                </td>
                    <td class="p-2">
                        <a href="mailto:{{free_trial.email}}" class="text-secondary text-decoration-none">{{free_trial.email}}</a>
                    </td>
                <td class="p-2">
                    <a href="tel:{{free_trial.phone_number}}" class="text-secondary text-decoration-none">{{free_trial.phone_number}}</a>
                </td>
                <td class="p-2">
                    {% if free_trial.is_active %}
                        <button class="w-100 btn btn-sm btn-success d-flex justify-self-center justify-content-center text-center" type="button">
                            Active
                        </button>
                    {% else %}
                        <button class="w-100 btn btn-sm btn-secondary d-flex justify-self-center justify-content-center text-center" type="button">
                            Inactive
                        </button>
                    {% endif %}
                </td>
                <td class="p-2">{{free_trial.created_on|naturaltime}}</td>
                </tr>
            {% endfor %} {% else %}
            <tr>
              <td class="p-2">
                <i class="display-1 bi bi-trash align-middle"></i>
              </td>
              <td class="p-2">
                <p>No free trial currently available!</p>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock dashboard %}
