{% extends 'app/app.html' %}
{% load static %}
{% block title %}
    <title>Naurs - Offers</title>
{% endblock title %}
{% block app %}
    <main id="main">
        <!-- ======= breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center text-white">
                    <h2>Offers</h2>
                    <ol>
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li>Offers</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- ======= offers section ======= -->
        <section class="section">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-sm-4 mb-3 animate__animated animate__fadeInUp"
                         data-aos="fade-right">
                        <div class="card shadow offer-card">
                            <img src="{% static 'images/music.png' %}"
                                 class="card-img-top"
                                 alt="offer">
                            <div class="card-body">
                                <a href="#">
                                    <h4>Some quick example text to build on...</h4>
                                    <span>Some quick example text to build on the card title and make up the bulk of the card's content.</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock app %}
