{% extends 'app/student_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
<title>Naurs - Student Dashboard</title>
{% endblock title %}
{%block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
    <!-- wallet -->
    <div class="row justify-content-center my-3">
        <div class="col-12 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-pink text-cus-secondary">
                <span class="m-auto">
                    Wallet
                    <b>{{wallet.balance|floatformat:2|intcomma}} AED</b>
                </span>
                {% if request.user.billingaddressmodel %}
                <button class="top-up-wallet" data-bs-toggle="modal" data-bs-target="#topUpWalletAmountModal">
                    <span data-feather="plus" class="align-middle top-up-btn"></span>
                    <span style="font-size: .8rem;" class="text-cus-secondary">Top up wallet</span>
                </button>
                {% else %}
                <button class="top-up-wallet" data-bs-toggle="modal" data-bs-target="#addBillingAddressModal">
                    <span data-feather="plus" class="align-middle top-up-btn"></span>
                    <span style="font-size: .8rem;" class="text-cus-secondary">Top up wallet</span>
                </button>
                {% endif %}
            </div>
        </div>
        <div class="col-6 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-purple text-cus-secondary">
                <span class="m-auto">Packages
                    <b>{{packages|length}}</b>
                </span>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-orange text-cus-secondary">
                <span class="m-auto">Classes
                    <b>{{programs|length}}</b>
                </span>
            </div>
        </div>
    </div>

    <!-- packages -->
    <div class="row my-4">
        <div class="col-12">
            <h4>Packages</h4>
        </div>
        {% for package in packages %}
        <div class="col-sm-3 my-2">
            <div class="card shadow border-0">
                {% if package.image %}
                <img src="{{package.image.url}}" width="100%" height="200px" class="card-img-top object-fit"
                    alt="{{package.name}}">
                {% else %}
                <div class="avatar">
                    <span data-feather="package align-middle"></span>
                </div>
                {% endif %}
                <div class="card-body">
                    {% for order in package.ordermodel_set.all %}
                    {% if order.user == request.user %}
                    {% if order.status %}
                    <span class="card-price bg-success text-cus-secondary shadow">
                        Active
                    </span>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <h6 class="card-title">
                        <b>{{package.name}}</b>
                    </h6>
                    <p class="card-text" style="font-size: 12px;">
                        <b>Price:</b> {{package.initial_price|floatformat:2|intcomma}} AED
                        <br>
                        {% if package.bonus_price > 0 %}
                        <b>Bonus:</b> +{{package.bonus_price|floatformat:2|intcomma}} AED (Free)
                        <br>
                        {% endif %}
                        {% if package.kids_sessions > 0 %}
                        <b>Kids:</b> {{package.kids_sessions}} sessions (Free)
                        <br>
                        {% endif %}
                        {% if package.senior_citizen_sessions > 0 %}
                        <b>Senior citizen:</b> {{package.senior_citizen_sessions}} sessions (Free)
                        <br>
                        {% endif %}
                        <b>Numbers of class(es):</b> {{package.program.count}}
                        <br>
                        <b>Total Package Sessions:</b> {{package.sessions}}
                    </p>
                    {% if wallet.balance > 0 %}
                    {% if request.user.billingaddressmodel %}
                    <button class="btn w-100 btn-dark bg-cus-primary" data-bs-toggle="modal"
                        data-bs-target="#getPackage{{package.id}}">Get Package</button>
                    {% else %}
                    <a class="btn w-100 btn-dark bg-cus-primary" data-bs-toggle="modal"
                        data-bs-target="#addBillingAddressModal">Get Package</a>
                    {% endif %}
                    {% else %}
                    <a class="btn w-100 btn-dark bg-cus-primary" data-bs-toggle="modal"
                        data-bs-target="#topUpWalletModal">Get Package</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- get package modal -->
        <div class="modal fade" id="getPackage{{package.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="getPackage{{package.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="getPackage{{package.id}}Label">Get Package</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if package.kids_sessions > 0 %}
                        <form action="{% url 'student_get_package' package_id=package.id package_type='kids' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            <button class="w-100 btn-lg bg-cus-pink" type="submit">Get {{package.kids_sessions}} free
                                sessions for kids!</button>
                        </form>
                        {% endif %}
                        {% if package.senior_citizen_sessions > 0 %}
                        <form action="{% url 'student_get_package' package_id=package.id package_type='old' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            <button class="w-100 btn-lg bg-cus-purple" type="submit">Get
                                {{package.senior_citizen_sessions}} free sessions for senior citizen!</button>
                        </form>
                        {% endif %}
                        <form action="{% url 'student_get_package' package_id=package.id package_type='bonus' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            {% if package.bonus_price > 0 %}
                            <button class="w-100 btn-lg bg-cus-orange" type="submit">Get
                                {{package.bonus_price|floatformat:2|intcomma}} AED added bonus!</button>
                            {% else %}
                            <button class="w-100 btn-lg bg-cus-orange" type="submit">Get Package Now!</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- billing address modal -->
    <div class="modal fade" id="addBillingAddressModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="addBillingAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBillingAddressModalLabel">Add Billing Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'billing_address_create_page' %}" method="post" class="col border-0 py-3">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                {% for field in billing_address_form %}
                                <div class="form-floating shadow mb-4">
                                    {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                    {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="btn-lg" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- top up message modal -->
    <div class="modal fade" id="topUpWalletModal" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="topUpWalletModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <b>Top up wallet!</b> You need to top up your wallet before you can purchase packages.
                </div>
            </div>
        </div>
    </div>

    <!-- top up amount modal -->
    <div class="modal fade" id="topUpWalletAmountModal" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="topUpWalletAmountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-floating shadow mb-4">
                        <input type="number" name="topUpWalletAmount" placeholder="Enter amount" class="form-control"
                            required="true" id="topUpWalletAmount">
                        <label for="topUpWalletAmount">Top up amount</label>
                    </div>
                    <button id="topUpWalletBtn" class="btn-lg float-end">
                        Continue
                        <span data-feather="arrow-right" class="align-middle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    let stripe = Stripe('{{ stripe_publishable_key }}');

    document.getElementById('topUpWalletBtn').addEventListener('click', () => {

        if (document.getElementById('topUpWalletAmount').value.length == 0) {
            alert("Please enter top up amount!");
            return;
        }

        url = `/finance/payment/top_up_wallet_session/${document.getElementById('topUpWalletAmount').value}/`
        fetch(url, {
            method: 'POST',
            body: JSON.stringify()
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock dashboard %}