{% extends 'app/student_dashboard.html' %}
{% load static %} {% load humanize %}

{%block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-pink text-cus-secondary">
                <span class="m-auto">Wallet
                    <b>0.00 AED</b>
                </span>
            </div>
        </div>
        <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-purple text-cus-secondary">
                <span class="m-auto">Packages
                    <b>{{packages|length}}</b>
                </span>
            </div>
        </div>
        <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-orange text-cus-secondary">
                <span class="m-auto">Classes
                    <b>{{programs|length}}</b>
                </span>
            </div>
        </div>
    </div>

    <!-- packages -->
    <div class="row my-4">
        <div class="col-12">
            <h4>Packages</h4>
        </div>
        {% for package in packages %}            
            <div class="col-3">
                <div class="card shadow border-0">
                    {% if package.image %}
                        <img src="{{package.image.url}}" width="100%" height="200px" class="card-img-top object-fit" alt="{{package.name}}">
                    {% else %}
                        <div class="avatar">
                            <span data-feather="package align-middle"></span>
                        </div>
                    {% endif %}
                    <div class="card-body">
                    <h6 class="card-title">{{package.name}}</h6>
                    <p class="card-text" style="font-size: 12px;">
                        Price: <b>{{package.initial_price}} AED</b>
                        <br>
                        Bonus: +{{package.bonus_price}} AED (Free)
                        <br>
                        Numbers Of Classes: {{package.program.count}}
                    </p>
                    <a href="#" class="btn w-100 btn-dark bg-cus-primary">Purchase Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- classes -->
    <div class="row my-4">
        <div class="col-12">
            <h4>Classes</h4>
        </div>
        {% for program in programs %}
            <div class="col-3">
                <div class="card shadow mb-3" style="height: 350px;">
                    <img src="{{ program.image.url }}"
                            class="card-img-top shadow object-fit"
                            width="100%" height="50%"
                            alt="class">
                    <div class="card-body">
                        <a href="{% url 'program_detail_page' pk=program.id %}" class="text-cus-primary text-decoration-none" style="font-size: 12px;">
                            <h5>{{ program.title|truncatechars:20 }}</h5>
                            <div class="card-content">{{ program.content|truncatechars_html:100|safe }}</div>
                            <span class="card-price shadow">{{ program.price }} AED</span>
                            <a href="#" class="btn w-100 btn-dark bg-cus-primary">Purchase Now</a>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock dashboard %}
