{% extends 'app/student_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
<title>Naurs - Student Packages</title>
{% endblock title %}
{%block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
    <!-- my packages -->
    <div class="row my-4">
        <div class="col-12">
            <h4>My Packages</h4>
        </div>
        {% for order in orders %}
        {% if order.user == request.user %}
        {% for package in order.package.all %}
        <div class="col-sm-3 my-2">
            <div class="card shadow border-0">
                {% if package.image %}
                <img src="{{package.image.url}}" width="100%" height="200px" class="card-img-top object-fit"
                    alt="{{package.name}}">
                {% else %}
                <div class="avatar">
                    <span data-feather="package align-middle"></span>
                </div>
                {% endif %}
                <div class="card-body">
                    {% if order.status %}
                    <span class="card-price bg-success text-cus-secondary shadow">
                        Active
                    </span>
                    {% else %}
                    <span class="card-price bg-secondary text-cus-secondary shadow">
                        Inactive
                    </span>
                    {% endif %}
                    <h6 class="card-title">
                        <b>{{package.name}}</b>
                    </h6>
                    <p class="card-text" style="font-size: 12px;">
                        <b>Bought At:</b> {{order.amount|floatformat:2|intcomma}} AED
                        <br>
                        <b>Bonus Type:</b>
                        {% if order.kids_sessions > 0 %}
                        <br>
                        Free <b>{{order.kids_sessions}}</b> kids sessions
                        {% endif %}

                        {% if order.senior_citizen_sessions > 0 %}
                        <br>
                        Free <b>{{order.senior_citizen_sessions}}</b> senior citizen sessions
                        {% endif %}

                        {% if order.kids_sessions <= 0 and order.senior_citizen_sessions <=0 %} <br>
                            Free <b>+{{package.bonus_price|floatformat:2|intcomma}}</b> AED added to wallet
                            {% endif %}
                            <br>
                            <b>Numbers of class(es):</b> {{package.program.count}}
                            <br>
                            <b>Total Package Sessions:</b> {{order.sessions}}
                    </p>
                    <button class="btn w-100 btn-dark bg-cus-pink" data-bs-toggle="modal"
                        data-bs-target="#entryTicket{{package.id}}">Get Entry Ticket</button>
                </div>
            </div>
        </div>

        <!-- get entry ticket modal -->
        <div class="modal fade" id="entryTicket{{package.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="entryTicket{{package.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="entryTicket{{package.id}}Label">Entry Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if order.kids_sessions > 0 %}
                        <form action="{% url 'student_get_ticket' order_id=order.id ticket_type='kids_sessions' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            <button class="w-100 btn-lg bg-cus-pink" type="submit">From kids sessions
                                ({{order.kids_sessions}} remaining!)</button>
                        </form>
                        {% endif %}

                        {% if order.senior_citizen_sessions > 0 %}
                        <form
                            action="{% url 'student_get_ticket' order_id=order.id ticket_type='senior_citizen_sessions' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            <button class="w-100 btn-lg bg-cus-pink" type="submit">From senior citizen sessions
                                ({{order.senior_citizen_sessions}} remaining!)</button>
                        </form>
                        {% endif %}
                        <form action="{% url 'student_get_ticket' order_id=order.id ticket_type='sessions' %}"
                            method="post" class="col border-0 py-3">
                            {% csrf_token %}
                            <button class="w-100 btn-lg bg-cus-primary" type="submit">From package sessions
                                ({{order.sessions}} remaining!)</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock dashboard %}