{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
    <title>Naurs - {{ program.title }} Edit</title>
{% endblock title %}
{% block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-3">
  <a
    href="{{request.META.HTTP_REFERER|escape}}"
    class="btn btn-md btn-dark bg-cus-primary"
    >
    <span data-feather="corner-up-left"></span>
    Back
    </a
  >

  <!-- title -->
  <h4 class="my-3">{{program.title}}</h4>

  <!-- about -->
  <div class="row">
    <div class="col-sm-4">
      <img src="{{program.image.url}}" alt="{{program.title}}" class="object-fit rounded" width="100%" height="300px">
      <ul class="navbar-nav flex-row justify-content-between my-2 bg-cus-primary rounded">
        <li class="nav-item">
          <span class="nav-link p-3 text-cus-secondary text-center">
            <span data-feather="folder"></span>
            <span style="font-size: 12px;">Category </span>
            <br>
            <span style="font-size: 12px;">{{program.category}}</span>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link p-3 text-cus-secondary text-center">
            <span data-feather="credit-card"></span>
            <span style="font-size: 12px;">Price </span>
            <br>
            <span style="font-size: 12px;">{{program.price}} AED</span>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link p-3 text-cus-secondary text-center">
            <span data-feather="activity"></span>
            <span style="font-size: 12px;">Space </span>
            <br>
            <span style="font-size: 12px;">{{program.total_space}}</span>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link p-3 text-cus-secondary text-center">
            {% if program.is_active %}<span data-feather="toggle-right"></span>{% else %}<span data-feather="toggle-left"></span>{% endif %}
            <span style="font-size: 12px;">Active </span>
            <br>
            <span style="font-size: 12px;">{% if program.is_active %}Yes{% else %}No{% endif %}</span>
          </span>
        </li>
      </ul>
      {{program.info|safe|truncatechars:500}}
    </div>
    <form action="#" method="post" class="col card shadow border-0 py-3" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          {% for field in program_form_with_instance|slice:":6" %}
            {% if forloop.counter == 6 %}
            <div class="card p-3 shadow mb-4">
              <div class="form-check form-switch">
                {{ field|add_class:"form-check-input"|attr:"placeholder:field.label" }}
                <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            {% elif forloop.counter == 1 %}
              <div class="card p-3 shadow mb-4">
                {{ field|add_class:"cus-file-input" }}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% else %}
              <div class="form-floating shadow mb-4">
                {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-6">
          {% for field in program_form_with_instance|slice:":7" %}
            {% if forloop.counter > 6 and forloop.counter < 8 %}
              <div class="form-floating shadow mb-4">
                {{ offer_form.media }}
                {{ field }}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <button class="btn-lg" type="submit">Update</button>
    </form>
  </div>

  <!-- benefits -->
  <div class="row mt-3">
    <div class="col-sm-12">
      <h4>Benefits</h4>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
        {% for benefit in program.programbenefitmodel_set.all %}
            <li class="my-4">
                <i class="bi bi-arrow-return-right align-middle text-cus-primary"></i> {{ benefit.benefit }}
            </li>
        {% endfor %}
      </ul>
    </div>
    <form action="#" method="post" class="col card shadow border-0 py-3">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          {% for field in program_benefit_inline_formset_with_instance|slice:":3" %}
            <div class="form-floating shadow mb-4">
              {{ field.benefit|add_class:"form-control"|attr:"placeholder:field.benefit.label" }}
              <label for="{{ field.benefit.auto_id }}">{{ field.benefit.label }}</label>
              {% for error in field.benefit.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="col-sm-6">
          {% for field in program_benefit_inline_formset_with_instance|slice:"3:" %}
            <div class="form-floating shadow mb-4">
              {{ field.benefit|add_class:"form-control"|attr:"placeholder:field.benefit.label" }}
              <label for="{{ field.benefit.auto_id }}">{{ field.benefit.label }}</label>
              {% for error in field.benefit.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      <button class="btn-lg" type="submit">
        Save
        <span data-feather="check-square"></span>
      </button>
    </form>
  </div>
</main>
{% endblock dashboard %}
