{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
    <title>Naurs - About Edit</title>
{% endblock title %}
{% block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
  <!-- title and back-->
  <div class="row">
    <div class="col-sm-12">
      <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-s">
        <span data-feather="corner-up-left"></span> Back
      </a>
    </div>
    <div class="col-sm-12">
      <h4 class="my-3">About number {{about.id}}</h4>
    </div>
  </div>

  <!-- about -->
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="avatar-lg shadow mb-3">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <b>Mission</b>{{about.mission|safe|truncatechars:250}}
                </div>
                <div class="col-sm-4">
                    <b>Vision</b>{{about.vision|safe|truncatechars:250}}
                </div>
                <div class="col-sm-4">
                    <b>Value</b>{{about.value|safe|truncatechars:250}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form action="#" method="post" class="col-sm-12 card shadow border-0 py-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <!-- about mission form -->
                    <h5>Mission</h5>
                    {% for field in about_form_with_instance|slice:":1" %}
                        {% if forloop.counter == 1 %}
                            <div class="form-floating shadow mb-4">
                                {{ about_form.media }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <!-- about vision form -->
                    <h5>Vision</h5>
                    {% for field in about_form_with_instance|slice:":2" %}
                        {% if forloop.counter == 2 %}
                            <div class="form-floating shadow mb-4">
                                {{ about_form.media }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                <!-- about vision form -->
                <h5>Value</h5>
                    {% for field in about_form_with_instance|slice:":3" %}
                        {% if forloop.counter == 3 %}
                            <div class="form-floating shadow mb-4">
                                {{ about_form.media }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <button class="btn-lg" type="submit">Update</button>
        </form>
    </div>

    <!-- deletion -->
    <div class="row justify-content-between mt-5 pt-3">
        <div class="col-sm-12">
            <h4>Deletion</h4>
        </div>
        <div class="col-sm-12 mb-3 text-center">
            <div class="alert alert-danger" role="alert">
                This will <b>remove</b> the about total from naurs's database and cannot be restored.
            </div>
            <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-lg bg-danger border border-danger text-cus-secondary">
                <span data-feather="trash"></span>
                Delete
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock dashboard %}
