{% extends 'dashboard/dashboard.html' %} 
{% load static %} 
{% load humanize %}
{% load widget_tweaks %} 
{% block title %}<title>Naurs - Dashboard Calendar Duplicate</title>{% endblock title %} 

{% block head %}
  <style>
      .calendar {
          width: 100%;
          font-size: 12px;
      }

      .calendar td {
          width: 100px;
          height: 100px;
          padding: 5px;
      }

      .month {
          font-size: 25px;
      }

      .date {
          font-size: 16px;
      }

      .calendar ul {
          padding: 0;
          margin: 0;
          list-style: none;
          width: 100%;
          height: 90%;
          overflow: scroll;
      }

      .calendar ul::-webkit-scrollbar {
          display: none;
      }

      .calendar ul {
          -ms-overflow-style: none;
          scrollbar-width: none;
      }

      .calendar ul li {
          position: relative;
          padding: 0.3rem;
          background: #011b2b80;
          color: #fff;
          border-radius: 0.2rem;
          line-height: 1.3;
          margin: 0.3rem auto;
          font-size: 0.6rem;
      }

      .calendar ul li .d-btn{
        position: absolute;
        top: 0;
        right: 0;
        color: #011b2b;
        padding: 2px;
      }

      .calendar a {
          color: #17a2b8;
      }

      .left {
          float: left;
      }

      .right {
          float: right;
      }

      .clearfix {
          padding: 0.6rem;
          position: fixed;
          z-index: 9999;
          width: 100%;
          top: 0;
          height: 3.5rem;
          background: #011b2b;
      }

      @media (max-width: 767.98px) {
          .calendar td {
              width: 100px;
              height: 100px;
          }

          .calendar ul {
              width: 100px;
              height: 100px;
          }
      }
  </style>
{% endblock head %}

{% block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="modal fade" id="createCalendar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCalendarLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createCalendarLabel">Duplicate Calendar</h5>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'dashboard_calendar_duplicate_page' pk=calendar.id %}" method="post" class="col border-0 py-3">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% for field in calendar_form_with_instance %}
                                        <div class="form-floating shadow mb-4">
                                            {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                            {% for error in field.errors %}
                                                <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <button class="w-100 btn-lg" type="submit">
                                    Save
                                    <span data-feather="check-square"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock dashboard %}


{% block script %}
    <script>
        window.onload = function () {
            $("#createCalendar").modal('show');
        };
    </script>
{% endblock script %}
    
