{% extends 'app/app.html' %}
{% load static %}
{% block title %}
    <title>Naurs - Programs & Classes</title>
{% endblock title %}
{% block app %}
    <main id="main">
        <!-- ======= breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center text-white">
                    <h2>Programs & Classes</h2>
                    <ol>
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li>Programs & Classes</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- ======= programs & classes section ======= -->
        <section class="section">
            <div class="container" data-aos="fade-up">
                <!-- music -->
                <div id="music" class="row content">
                    <h1 class="h2 fw-bold text-cus-primary">Music</h1>
                    {% for program in programs %}
                        {% if program.category == "Music" %}
                            <div class="col-md-4 mb-3 mt-5 animate__animated animate__fadeInUp"
                                 data-aos="fade-right">
                                <div class="card shadow program-card">
                                    <img src="{{ program.image.url }}"
                                         class="card-img-top shadow"
                                         alt="program">
                                    <div class="card-body">
                                        <a href="{% url 'program_detail_page' pk=program.id %}">
                                            <h4>{{ program.title|truncatechars:30 }}</h4>
                                            <div class="card-content">{{ program.info|truncatechars_html:200|safe }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- dance -->
                <div id="dance" class="row content">
                    <h1 class="h2 fw-bold mt-5 text-cus-primary">Dance</h1>
                    {% for program in programs %}
                        {% if program.category == "Dance" %}
                            <div class="col-md-4 mb-3 mt-5 animate__animated animate__fadeInUp"
                                 data-aos="fade-right">
                                <div class="card shadow program-card">
                                    <img src="{{ program.image.url }}"
                                         class="card-img-top shadow"
                                         alt="program">
                                    <div class="card-body">
                                        <a href="{% url 'program_detail_page' pk=program.id %}">
                                            <h4>{{ program.title|truncatechars:30 }}</h4>
                                            <div class="card-content">{{ program.info|truncatechars_html:200|safe }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- fine art -->
                <div id="fine_arts" class="row content">
                    <h1 class="h2 fw-bold mt-5 text-cus-primary">Fine Arts</h1>
                    {% for program in programs %}
                        {% if program.category == "Fine Arts" %}
                            <div class="col-md-4 mb-3 mt-5 animate__animated animate__fadeInUp"
                                 data-aos="fade-right">
                                <div class="card shadow program-card">
                                    <img src="{{ program.image.url }}"
                                         class="card-img-top shadow"
                                         alt="program">
                                    <div class="card-body">
                                        <a href="{% url 'program_detail_page' pk=program.id %}">
                                            <h4>{{ program.title|truncatechars:30 }}</h4>
                                            <div class="card-content">{{ program.info|truncatechars_html:200|safe }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- fitness -->
                <div id="fitness" class="row content">
                    <h1 class="h2 fw-bold mt-5 text-cus-primary">Fitness</h1>
                    {% for program in programs %}
                        {% if program.category == "Fitness" %}
                            <div class="col-md-4 mb-3 mt-5 animate__animated animate__fadeInUp"
                                 data-aos="fade-right">
                                <div class="card shadow program-card">
                                    <img src="{{ program.image.url }}"
                                         class="card-img-top shadow"
                                         alt="program">
                                    <div class="card-body">
                                        <a href="{% url 'program_detail_page' pk=program.id %}">
                                            <h4>{{ program.title|truncatechars:30 }}</h4>
                                            <div class="card-content">{{ program.info|truncatechars_html:200|safe }}</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock app %}
