{% load static %}
<!-- ======= footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Naurs</h3>
                    <p>
                        F42-F43, Bay Avenue, Business Bay
                        <br>
                        Dubai - United Arab Emirates
                        <br>
                        PO BOX: 24536
                        <br>
                        <strong>Email:</strong> <a href="mailto:naursfitnessandart@gmail.com" class="text-white">naursfitnessandart@gmail.com</a>
                        <br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Links</h4>
                    <ul>
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about_page' %}">About</a>
                        </li>
                        <li>
                            <a href="{% url 'contact_page' %}">Contact</a>
                        </li>
                        <li>
                            <a href="{% url 'register_page' %}">Get Started</a>
                        </li>
                        <li>
                            <a href="{% url 'instructor_page' %}">Instructors</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Offers & Classes</h4>
                    <ul>
                        <!-- <li>
                            <a href="{% url 'offer_page' %}">Offers</a>
                        </li> -->
                        <li>
                            <a href="{% url 'program_page' %}#music">Music</a>
                        </li>
                        <li>
                            <a href="{% url 'program_page' %}#fitness">Fitness</a>
                        </li>
                        <li>
                            <a href="{% url 'program_page' %}#fine_arts">Fine Arts</a>
                        </li>
                        <li>
                            <a href="{% url 'program_page' %}#dance">Dance</a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'logout_page' %}">Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login_page' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Copyrights</h4>
                    <ul>
                        <!-- <li>
                            <a href="#">Privacy Policy</a>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Naurs</span></strong>. All Rights Reserved
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/naursdubai" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.instagram.com/naursdubai/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/in/naurs-dubai-a5ba88230/"
               target="_blank"><i class="bx bxl-linkedin"></i></a>
            <a href="mailto:naursfitnessandart@gmail.com"><i class="bx bi-envelope-fill"></i></a>
            <a href="tel:+97143331091"><i class="bx bi-telephone-fill"></i></a>
        </div>
    </div>
</footer>
