{% load static %}
<!-- ======= navbar header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">
            <a href="{% url 'home_page' %}">
                <img src="{% static 'images/logo_trans_sm.png' %}"
                     alt="Naurs"
                     class="img-fluid">
            </a>
        </h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li>
                    <a href="{% url 'home_page' %}"
                       class="{% if request.path == '/' %}active{% endif %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'program_music_page' %}" class="{% if 'music' in request.path %}active{% endif %}">Music</a>
                </li>
                <li>
                    <a href="{% url 'program_fitness_page' %}" class="{% if 'fitness' in request.path %}active{% endif %}">Fitness</a>
                </li>
                <li>
                    <a href="{% url 'program_fine_arts_page' %}" class="{% if 'fine_arts' in request.path %}active{% endif %}">Fine Arts</a>
                </li>
                <li>
                    <a href="{% url 'program_dance_page' %}" class="{% if 'dance' in request.path %}active{% endif %}">Dance</a>
                </li>
                <li>
                    <a href="{% url 'instructor_page' %}" class="{% if 'instructor' in request.path %}active{% endif %}">Instructors</a>
                </li>
                <li>
                    <a href="{% url 'about_page' %}" class="{% if 'about' in request.path %}active{% endif %}">About</a>
                </li>
                <!-- <li>
                    <a href="{% url 'offer_page' %}"
                       class="{% if 'offer' in request.path %}active{% endif %}">Offers</a>
                </li> -->
                <li>
                    <a href="{% url 'contact_page' %}"
                       class="{% if 'contact' in request.path %}active{% endif %}">Contact</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_admin or request.user.instructormodel %}
                        <li>
                            <form action="{% url 'dashboard_page' %}" method="get">
                                <button type="submit" class="navbar-btn">
                                    Dashboard
                                </button>
                            </form>
                        </li>
                    {% elif request.user.studentmodel %}
                        <li>
                            <form action="{% url 'student_dashboard_page' %}" method="get">
                                <button type="submit" class="navbar-btn">
                                    Dashboard
                                </button>
                            </form>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout_page' %}"
                           class="{% if request.path == '/account/logout/' %}active{% endif %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <button type="button"
                                class="navbar-btn"
                                data-bs-toggle="modal"
                                data-bs-target="#freeTrialPopup">Free Trial</button>
                    </li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <div class="header-social-links d-flex">
            <a href="https://twitter.com/naursdubai" target="_blank"><i class="bu bi-twitter"></i></a>
            <a href="https://www.instagram.com/naursdubai/" target="_blank"><i class="bu bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/naurs-dubai-a5ba88230/"
               target="_blank"><i class="bu bi-linkedin"></i></a>
            <a href="mailto:hello@naurs.me"><i class="bu bi-envelope-fill"></i></a>
            <a href="tel:+97145771354"><i class="bu bi-telephone-fill"></i></a>
        </div>
    </div>
</header>
