{% load static %}
{% load widget_tweaks %}
<div class="modal fade"
     id="freeTrialPopup"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="freeTrialPopupLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered text-cus-primary">
        <div class="modal-content position-relative">
            <div class="modal-header mx-auto d-block">
                <h5 class="modal-title h2 fw-bold" id="freeTrialPopupLabel">Get Your Free Trial!</h5>
                <p class="text-center">get free access as a first timer.<p>
                <button type="button"
                        class="btn-close btn-cus-close mobile-nav-toggle position-absolute"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <form action="{% url 'free_trial_page' %}" method="post">
                                {% csrf_token %}
                                {% for field in free_offer_form %}
                                    <div class="form-floating mb-4">
                                        {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {% for error in field.errors %}
                                            <p class="text-danger">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                <button class="w-100 btn-lg" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
