{% load static %}

<!-- ======= messages ======= -->
{% if messages %}
    <div class="container-fluid">
        <div class="row">
            <ul class="fixed-bottom list-unstyled">
                {% for message in messages %}
                    <li class="col-10 col-md-3 alert alert-warning alert-dismissible fade show shadow" role="alert">
                        <strong>{{ message.tags|capfirst }}:</strong>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}