{% extends 'app/app.html' %}
{% load static %}
{% block title %}
    <title>Naurs - Instructors</title>
{% endblock title %}
{% block app %}
    <main id="main">
        <!-- ======= breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center text-white">
                    <h2>Instructors</h2>
                    <ol>
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li>Instructors</li>
                    </ol>
                </div>
            </div>
        </section>
        <!-- ======= instructors section ======= -->
        <section id="team" class="team">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    {% if instructors %}
                        {% for instructor in instructors %}
                            <a href="{% url 'instructor_detail_page' pk=instructor.id %}">
                                <div class="col-lg-3 col-md-6 align-items-stretch">
                                    <div class="member">
                                        <img class="member-img"src="{{ instructor.avatar.url }}"
                                             class="img-fluid"
                                             alt="staff">
                                        <div class="member-info">
                                            <h4>{{ instructor.user.get_full_name }}</h4>
                                            <span>{{ instructor.role }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center animate__animated animate__fadeInDown"
                             data-aos="fade-down">
                            <i class="display-1 bi bi-trash align-middle"></i>
                            <p>
                                No instructor currently available!
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock app %}
