{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}
    <title>Naurs - {{ instructor.user.first_name }} Edit</title>
{% endblock title %}
{% block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
  <!-- title and back-->
  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'dashboard_instructor_page' %}" class="btn btn-s">
        <span data-feather="corner-up-left"></span> Back
      </a>
    </div>
    <div class="col-sm-12">
      <h4 class="my-3">{{instructor.title}}</h4>
    </div>
  </div>

  <!-- about -->
  <div class="row justify-content-center">
    <div class="col-sm-4 text-center">
      {% if instructor.user.avatar %}
        <img src="{{instructor.user.avatar.url}}" alt="{{instructor.title}}" class="avatar-lg shadow mb-3">
      {% else %}
        <i class="bi bi-person-circle align-middle" class="avatar-lg shadow mb-3" style="font-size: 250px;"></i>
      {% endif %}
      {{instructor.about|safe|truncatechars:500}}
    </div>
    <form action="{% url 'dashboard_instructor_update_page' pk=instructor.id %}" method="post" class="col card shadow border-0 py-3">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          <!-- instructor form -->
          {% for field in instructor_form_with_instance|slice:":3" %}
            {% if forloop.counter == 2 %}
                <div class="card p-3 shadow mb-4 form-check form-switch overflow-height">
                    {{ field }}
                    <label for="{{ field.auto_id }}" class="form-check-label">{{ field.label }}</label>
                </div>
            {% else %}
              <div class="form-floating shadow mb-4">
                {{ field|add_class:"form-control"|attr:"placeholder:field.label" }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-6">
          {% for field in instructor_form_with_instance|slice:":4" %}
            {% if forloop.counter == 4 %}
              <div class="form-floating shadow mb-4">
                {{ instructor_form.media }}
                {{ field }}
                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <button class="btn-lg" type="submit">Update</button>
    </form>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12">
      <h4>Students</h4>
    </div>
    <div class="col-sm-12">
      <ul class="row list-unstyled">
        {% for student in instructor.studentmodel_set.all %}
          <li class="my-2 col-sm-3">
            <i class="bi bi-arrow-return-right align-middle text-cus-primary"></i>
            <a
              href="{% url 'dashboard_student_detail_page' pk=student.id %}"
              class="text-decoration-none text-cus-primary"
              >{{ student.user }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- deletion -->
  <div class="row justify-content-between mt-5">
    <div class="col-sm-12">
      <h4>Deletion</h4>
      {% if instructor.user.is_admin %}
        <div class="alert alert-info text-center" role="alert">
          <i class="bi bi-info-circle-fill"></i>
          This instructor has admin role and therefore can not be altered
        </div>
      {% endif %}
    </div>
    <div class="col-sm-6 mb-3">
      <div class="alert alert-warning" role="alert">
        It's advisable to deactivate instructor account instead of deleting, as deactivating
        will keep the all classes, tasks and roles performed by the instructor perviously.
      </div>
      <div class="d-flex flex-row justify-content-center">
        <form action="{% url 'dashboard_instructor_visibility_page' instructor_id=instructor.id visibility='deactivate' %}" method="post">
          {% csrf_token %}
          {% if instructor.user.is_active %}
            <button class="btn btn-lg bg-warning border border-warning text-cus-secondary" type="submit">
              <span data-feather="x-circle"></span>
              Deactivate
            </button>
          {% else %}
            <button class="btn btn-lg bg-info border border-info text-cus-secondary" type="submit">
              <span data-feather="check-circle"></span>
              Reactivate
            </button>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="alert alert-danger" role="alert">
        It's not advisable to delete instructor account instead deactivate it, as deleting
        will remove the all classes, tasks and roles performed by the instructor perviously.
      </div>
      <div class="d-flex flex-row justify-content-center">
        {% if instructor.user.is_admin %}
          <a class="btn btn-lg bg-danger border border-danger text-cus-secondary disabled">
            <span data-feather="trash"></span>
            Delete
          </a>
        {% else %}
          <button type="button" class="btn btn-lg bg-danger border border-danger text-cus-secondary" data-bs-toggle="modal" data-bs-target="#deleteInstructorModel">
            <span data-feather="trash"></span>
            Delete
          </button>
          <div class="modal fade" id="deleteInstructorModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteInstructorModelLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger" id="deleteInstructorModelLabel">Delete Instructor!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row justify-content-center">
                    <div class="col-12 text-center">
                      <div class="alert alert-danger" role="alert">
                        This will <b>forever</b> remove the instructor from the database. Click <b>"Continue"</b> to delete.
                      </div>
                      <form action="{% url 'dashboard_instructor_visibility_page' instructor_id=instructor.id visibility='delete' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-lg bg-danger border border-danger text-cus-secondary" type="submit">
                          <span data-feather="trash"></span>
                          Continue
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock dashboard %}
