{% load static %}

<!-- ======= navbar header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto">
            <a href="{% url 'home_page' %}">
                <img src="assets/images/logo_trans.png" alt="Naurs" class="img-fluid"> Naurs
            </a>
        </h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li>
                    <a href="{% url 'home_page' %}" class="{% if request.path === '/' %}active{% endif %}">Home</a>
                </li>
                <li>
                    <a href="#" class="{% if request.path === '/music' %}active{% endif %}">Music</a>
                </li>
                <li>
                    <a href="#" class="{% if request.path === '/art' %}active{% endif %}">Art</a>
                </li>
                <li>
                    <a href="#" class="{% if request.path === '/fitness' %}active{% endif %}">Fitness</a>
                </li>
                <li>
                    <a href="#" class="{% if request.path === '/about' %}active{% endif %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact_page' %}" class="{% if request.path === '/contact' %}active{% endif %}">Contact</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
        <div class="header-social-links d-flex">
            <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bu bi-linkedin"></i> </a>
        </div>
    </div>
</header>