{% extends 'app/dashboard.html' %}
{% load static %} {% load humanize %}

{%block dashboard %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3 mb-5">
    <div class="row justify-content-center mt-3 mb-3">
        
        {% if request.user.is_admin %}
            <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
                <div class="card data-card shadow border-0 bg-cus-pink text-cus-secondary">
                    <span class="m-auto">Total Registered
                        <b>{{ users|length }}</b>
                    </span>
                </div>
            </div>
        {% else %}            
            <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
                <div class="card data-card shadow border-0 bg-cus-pink text-cus-secondary">
                    <span class="m-auto">Wallet
                        <b>{{wallet.balance|floatformat:2}} AED</b>
                    </span>
                </div>
            </div>
        {% endif %}
        <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-purple text-cus-secondary">
                <span class="m-auto">Total Instructors
                    <b>{{instructors|length}}</b>
                </span>
            </div>
        </div>
        <div class="col-4 col-md-4 mb-1 d-flex justify-content-center text-center">
            <div class="card data-card shadow border-0 bg-cus-orange text-cus-secondary">
                <span class="m-auto">Total Students
                    <b>{{students|length}}</b>
                </span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-dark">
                Available Space / Classes
            </button>
        </div>
    </div>
    <canvas
        class="my-4 w-100"
        id="DashboardChart"
        width="900"
        height="380"
    ></canvas>
    {% if request.user.is_admin %}
        <div class="row mt-5">
            <div class="col-sm-12">
                <h4>Recent Offers</h4>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive shadow rounded">
                    <table class="table table-hover table-sm align-middle border-bottom m-0">
                        <thead class="table-cus-dark">
                            <tr>
                                <th scope="col" class="p-3"></th>
                                <th scope="col" class="p-3">Title</th>
                                <th scope="col" class="p-3">Content</th>
                                <th scope="col" class="p-3">Created On</th>
                                <th scope="col" class="p-3">Visibility</th>
                                <th scope="col" class="p-3">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if without_filter_last_10_offers %}
                                {% for offer in without_filter_last_10_offers %}
                                    <tr>
                                        <th scope="row" class="p-2">
                                            {% if offer.image %}
                                            <img
                                                class="avatar"
                                                src="{{offer.image.url}}"
                                                width="100%"
                                                height="100%"
                                                alt="avatar"
                                            >
                                            {% else %}
                                            <div class="avatar">
                                                <i class="bi bi-gift align-middle"></i>
                                            </div>
                                            {% endif %}
                                        </th>
                                        <td class="p-2">
                                            <a href="{% url 'dashboard_offer_detail_page' pk=offer.id %}" class="text-decoration-none text-cus-primary">{{offer.title|safe|truncatechars:20}}
                                            </a
                            >
                                        </td>
                                        <td class="p-2">{{offer.content|safe|truncatechars:50}}</td>
                                        <td class="p-2">{{offer.created_on|naturaltime}}</td>
                                        <td class="p-2">
                                            <form action="{% url 'dashboard_offer_visibility_page' offer_id=offer.id visibility='deactivate' %}" method="post">
                                              {% csrf_token %}
                                                {% if offer.is_active %}
                                                  <button class="w-100 btn btn-sm btn-secondary d-flex justify-self-center justify-content-center text-center" type="submit">
                                                    Deactivate
                                                  </button>
                                                {% else %}
                                                  <button class="w-100 btn btn-sm btn-success d-flex justify-self-center justify-content-center text-center" type="submit">
                                                    Reactivate
                                                  </button>
                                                {% endif %}
                                            </form>
                                          </td>
                                          <td class="p-2">
                                            <button type="button" class="w-100 btn btn-sm btn-danger d-flex justify-self-center justify-content-center text-center" data-bs-toggle="modal" data-bs-target="#deleteOfferModel{{offer.id}}">
                                              Delete
                                            </button>
                                            <div class="modal fade" id="deleteOfferModel{{offer.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteOfferModel{{offer.id}}Label" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title text-danger" id="deleteOfferModel{{offer.id}}Label">Delete Offer!</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="row justify-content-center">
                                                      <div class="col-12 text-center">
                                                        <div class="alert alert-danger" role="alert">
                                                          This will <b>forever</b> remove the offer from the database. Click <b>"Continue"</b> to delete.
                                                        </div>
                                                        <form action="{% url 'dashboard_offer_visibility_page' offer_id=offer.id visibility='delete' %}" method="post">
                                                          {% csrf_token %}
                                                          <button class="btn btn-lg bg-danger border border-danger text-cus-secondary" type="submit">
                                                            <span data-feather="trash"></span>
                                                            Continue
                                                          </button>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="p-2">
                                        <i class="display-1 bi bi-trash align-middle"></i>
                                    </td>
                                    <td class="p-2">
                                        <p>No offer currently available!</p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <h4>Recent Classes</h4>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive shadow rounded">
                    <table class="table table-hover table-sm align-middle border-bottom m-0">
                        <thead class="table-cus-dark">
                            <tr>
                                <th scope="col" class="p-3"></th>
                                <th scope="col" class="p-3">Title</th>
                                <th scope="col" class="p-3">Category</th>
                                <th scope="col" class="p-3">Price AED</th>
                                <th scope="col" class="p-3">Content</th>
                                <th scope="col" class="p-3">Created On</th>
                                <th scope="col" class="p-3">Visibility</th>
                                <th scope="col" class="p-3">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if without_filter_last_10_programs %} {% for program in without_filter_last_10_programs %}
                            <tr>
                                <th scope="row" class="p-2">
                                    {% if program.image %}
                                    <img
                                        class="avatar"
                                        src="{{program.image.url}}"
                                        width="100%"
                                        height="100%"
                                        alt="avatar"
                                    >
                                    {% else %}
                                    <div class="avatar">
                                        <i class="bi bi-building align-middle"></i>
                                    </div>
                                    {% endif %}
                                </th>
                                <td class="p-2">
                                    <a href="{% url 'dashboard_program_detail_page' pk=program.id %}" class="text-decoration-none text-cus-primary">{{program.title|safe|truncatechars:50}}
                                    </a
                        >
                                </td>
                                <td class="p-2">{{program.category}}</td>
                                <td class="p-2">{{program.price|floatformat:2|intcomma}}</td>
                                <td class="p-2">{{program.content|safe|truncatechars:20}}</td>
                                <td class="p-2">{{program.created_on|naturaltime}}</td>
                                <td class="p-2">
                                    <form action="{% url 'dashboard_program_visibility_page' program_id=program.id visibility='deactivate' %}" method="post">
                                        {% csrf_token %}
                                        {% if program.is_active %}
                                        <button class="w-100 btn btn-sm btn-secondary d-flex justify-self-center justify-content-center text-center" type="submit">
                                            Deactivate
                                        </button>
                                        {% else %}
                                        <button class="w-100 btn btn-sm btn-success d-flex justify-self-center justify-content-center text-center" type="submit">
                                            Reactivate
                                        </button>
                                        {% endif %}
                                    </form>
                                </td>
                                <td class="p-2">
                                    <button
                                        type="button"
                                        class="w-100 btn btn-sm btn-danger d-flex justify-self-center justify-content-center text-center"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteProgramModel{{program.id}}"
                                    >
                                        Delete
                                    </button>
                                    <div
                                        class="modal fade"
                                        id="deleteProgramModel{{program.id}}"
                                        data-bs-backdrop="static"
                                        data-bs-keyboard="false"
                                        tabindex="-1"
                                        aria-labelledby="deleteProgramModel{{program.id}}Label"
                                        aria-hidden="true"
                                    >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-danger" id="deleteProgramModel{{program.id}}Label">Delete Class!</h5>
                                                    <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                    ></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 text-center">
                                                            <div class="alert alert-danger" role="alert">
                                                                This will
                                                                <b>forever</b> remove the class from the database. Click
                                                                <b>"Continue"</b>
                                                                to delete.
                                                            </div>
                                                            <form action="{% url 'dashboard_program_visibility_page' program_id=program.id visibility='delete' %}" method="post">
                                                                {% csrf_token %}
                                                                <button class="btn btn-lg bg-danger border border-danger text-cus-secondary" type="submit">
                                                                    <span data-feather="trash"></span>
                                                                    Continue
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td class="p-2">
                                    <i class="display-1 bi bi-trash align-middle"></i>
                                </td>
                                <td class="p-2">
                                    <p>No class currently available!</p>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-sm-12">
                <h4>Recent Classes</h4>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive shadow rounded">
                    <table class="table table-hover table-sm align-middle border-bottom m-0">
                        <thead class="table-cus-dark">
                            <tr>
                                <th scope="col" class="p-3"></th>
                                <th scope="col" class="p-3">Title</th>
                                <th scope="col" class="p-3">Category</th>
                                <th scope="col" class="p-3">Price AED</th>
                                <th scope="col" class="p-3">Content</th>
                                <th scope="col" class="p-3">Created On</th>
                                <th scope="col" class="p-3">Visibility</th>
                                <th scope="col" class="p-3">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if instructor.program.all %}              
                                {% for program in instructor.program.all|slice:":10" %}
                                    <tr>
                                        <th scope="row" class="p-2">
                                            {% if program.image %}
                                            <img
                                                class="avatar"
                                                src="{{program.image.url}}"
                                                width="100%"
                                                height="100%"
                                                alt="avatar"
                                            >
                                            {% else %}
                                            <div class="avatar">
                                                <i class="bi bi-building align-middle"></i>
                                            </div>
                                            {% endif %}
                                        </th>
                                        <td class="p-2">
                                            <a href="{% url 'dashboard_program_detail_page' pk=program.id %}" class="text-decoration-none text-cus-primary">{{program.title|safe|truncatechars:50}}
                                            </a
                                >
                                        </td>
                                        <td class="p-2">{{program.category}}</td>
                                        <td class="p-2">{{program.price|floatformat:2|intcomma}}</td>
                                        <td class="p-2">{{program.content|safe|truncatechars:20}}</td>
                                        <td class="p-2">{{program.created_on|naturaltime}}</td>
                                        <td class="p-2">
                                            <form action="{% url 'dashboard_program_visibility_page' program_id=program.id visibility='deactivate' %}" method="post">
                                                {% csrf_token %}
                                    {% if program.is_active %}
                                                <button class="w-100 btn btn-sm btn-secondary d-flex justify-self-center justify-content-center text-center" type="submit">
                                                    Deactivate
                                                </button>
                                                {% else %}
                                                <button class="w-100 btn btn-sm btn-success d-flex justify-self-center justify-content-center text-center" type="submit">
                                                    Reactivate
                                                </button>
                                                {% endif %}
                                            </form>
                                        </td>
                                        <td class="p-2">
                                            <button
                                                type="button"
                                                class="w-100 btn btn-sm btn-danger d-flex justify-self-center justify-content-center text-center"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteProgramModel{{program.id}}"
                                            >
                                                Delete
                                            </button>
                                            <div
                                                class="modal fade"
                                                id="deleteProgramModel{{program.id}}"
                                                data-bs-backdrop="static"
                                                data-bs-keyboard="false"
                                                tabindex="-1"
                                                aria-labelledby="deleteProgramModel{{program.id}}Label"
                                                aria-hidden="true"
                                            >
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-danger" id="deleteProgramModel{{program.id}}Label">Delete Class!</h5>
                                                            <button
                                                                type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"
                                                            ></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row justify-content-center">
                                                                <div class="col-12 text-center">
                                                                    <div class="alert alert-danger" role="alert">
                                                                        This will
                                                                        <b>forever</b> remove the class from the database. Click
                                                                        <b>"Continue"</b>
                                                                        to delete.
                                                                    </div>
                                                                    <form action="{% url 'dashboard_program_visibility_page' program_id=program.id visibility='delete' %}" method="post">
                                                                        {% csrf_token %}
                                                                        <button class="btn btn-lg bg-danger border border-danger text-cus-secondary" type="submit">
                                                                            <span data-feather="trash"></span>
                                                                            Continue
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="p-2">
                                        <i class="display-1 bi bi-trash align-middle"></i>
                                    </td>
                                    <td class="p-2">
                                        <p>
                                            No class currently available!
                                        </p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock dashboard %}

{% block script %}
<script>
    (function () {
        'use strict'
        // Graphs
        var ctx = document.getElementById('DashboardChart')
        // eslint-disable-next-line no-unused-vars
        var DashboardChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    data: {{ data|safe }},
                    lineTension: 0,
                    backgroundColor: '#011b2b',
                    borderColor: '#011b2b',
                    borderWidth: 4,
                    pointBackgroundColor: '#011b2b'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        })
    })()
</script>
{% endblock script %}
